<!doctype html>
<html lang="us">
	{{template "header.html" .}}
	
	<body>
		{{range .Results }}
			{{if eq .ErrorNo 0 }}
			<div class="ui-widget">
				<div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
					<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
						<strong>SUCCESS:</strong> {{ .ErrorDesc}}
					</p>
				</div>
			</div>
			{{else}}
			<div class="ui-widget">
				<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
					<p>
						<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;" ></span>
						<strong>FAILED:</strong> {{ .ErrorDesc }}</p>
				</div>
			</div>
			{{end}}
		{{end}}
	
		
	</body>
	
	

</html>
