<!doctype html>
<html lang="us">
{{template "header.html" .}}
	
	<body>
		<table class="table table-striped" border="1px #ooo" id="tab16" cellpadding="0" cellspacing="0"  >
			<tr align="center" bgcolor="white">
				<td width="30%">发送类型</td>
				<td width="30%">公告内容</td>
				<td width="30%">时间参数</td>
			</tr>
{{range .Results }}
			<tr align="center">
				<td width="30%">{{printf "%s" .SendType}}</td>
				<td width="30%">{{printf "%s" .Content}}</td>
				<td width="30%">{{printf "%s" .Timestr}}</td>
			</tr>	
{{end}}
		</table>
		
	</body>
</html>