/* CSS Document */
html,body,p,ul,li,h1,h2,h3,h4,h5,h6,div,span,p{
	margin:0;
	padding:0;
}
html{font:"微软雅黑" 14px/1.42;}
.fr{
	float:right;
}
.fl{
	float:left;
}
ul li{
	list-style:none;
}
a{
	text-decoration:none;
	cursor:pointer;
}
.clear{
	clear:both;
}

